html
	head
		title Upload a CSV File
	body
		form(method="post",enctype="multipart/form-data",action="/")
			p
				input(type="text",name="keyword",placeholder="keyword")
			p
				input(type="text",name="ean",placeholder="Ean Code")
			p
				input(type="submit")



