html
	head
		title Upload a CSV File
	body
		form(method="post",enctype="multipart/form-data",action="/")
			p
				input(type="text",name="title",placeholder="title")
			p
				input(type="file",name="upl")
			p
				input(type="text", name="delim", placeholder="Delimiter")
			p
				input(type='checkbox', name='agreement', checked) 
				| EAN Code
			p
				input(type="submit")



